/* promenjive */
/* fontovi */
/* mobilni je baza */

/* Rectangle 385 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.first-page {
    height: auto;
}

.text {
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.text #learning {
    color: #F9CA87;
}
.logo-container-for-animation{
    min-height: 60vh;
    /* ako malo glicuje mozda je ovde TEST */
}
.responsive {
    width: 100%;
    margin-top: 14%
}

.dugme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.dugmeZaPrijavu {
    background: #F9CA87;
    border: 3px solid #F99D1D;
    border-radius: 20px;
    padding: 10px 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.dugmeZaPrijavu:hover {
    transition: 0.3s;
    background-color: transparent;
    color: #F99D1D;
}

@media screen and (max-width: 340px) {

    .text {
        font-size: 20px;
        margin-top: 40px;
    }

    .text #learning {
        color: #F9CA87;
    }

    .responsive{
        width: 100%;
        margin-top: 15%;
    }

    .dugmeZaPrijavu {
        padding: 10px 20px;
        font-size: 12px;
    }
}

/* mali tableti */
@media screen and (min-width: 620px) {

    .text {
        font-size: 30px;
        margin-top: 50px;
    }

    .responsive {
        width: 80%;
        margin-top: 5%;
    }

    .dugme {
        margin-top: 25px;
    }

    .dugmeZaPrijavu {
        padding: 15px 30px;
        font-size: 18px;
    }
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px) {

    .text {
        font-size: 35px;
        margin-top: 50px;
    }

    .responsive {
        width: 45%;
    }

    .dugme {
        margin-top: 20px;
    }

    .dugmeZaPrijavu {
        padding: 15px 30px;
        font-size: 20px;
    }
}

/* desktop */
@media screen and (min-width: 1200px) {

    .responsive {
        width: 35%;
        margin-top: 0;
    }
    .dugme{
        padding: 15px;
        margin-top: -15px;
    }

    .dugmeZaPrijavu {
        padding: 15px 40px;
        font-size: 20px;
    }

    .text {
        font-size: 48px;
        text-align: center;
        margin-top: 40px;
    }


}

/* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px) {

    .responsive {
        width: 35%;
        height: auto;
    }

    .dugmeZaPrijavu {
        padding: 15px 40px;
        font-size: 20px;
    }

    .text {
        font-size: 48px;
        text-align: center;
        margin-top: 40px;
    }
}