/* promenjive */
/* fontovi */
/* mobilni je baza */

/* Rectangle 385 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.navbar-dark {
    background-color: #0C5073 !important;
}

@media screen and (max-width: 340px) {
    .first-page{
        height: 80vh;
    }
    .text {
        font-size: 20px;
        margin-top: 50px;
    }

    .text #learning {
        color: #F9CA87;
    }

    .responsive {
        max-width: 100%;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dugme {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .dugmeZaPrijavu {
        background: #F9CA87;
        border: 3px solid #F99D1D;
        border-radius: 20px;
        padding: 15px 30px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;

    }

    .dugmeZaPrijavu:hover {
        transition: 0.3s;
        background-color: transparent;
        color: #F99D1D;
    }

}


@media screen and (min-width: 340px) {
    .first-page{
        height: 80vh;
    }
        .text {
            font-size: 20px;
            margin-top: 50px;
        }
    
        .text #learning {
            color: #F9CA87;
        }
    
        .responsive {
            max-width: 100%;
            height: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
        .dugme {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
    
        .dugmeZaPrijavu {
            background: #F9CA87;
            border: 3px solid #F99D1D;
            border-radius: 20px;
            padding: 15px 30px;
            color: #ffffff;
            font-size: 15px;
            font-weight: 700;
    
        }
    
        .dugmeZaPrijavu:hover {
            transition: 0.3s;
            background-color: transparent;
            color: #F99D1D;
        }
    
}

/* mali tableti */
@media screen and (min-width: 620px) {
    .first-page {
            height: 100vh;
        }
    
        .text {
            font-size: 30px;
            margin-top: 50px;
        }
    
        .text #learning {
            color: #F9CA87;
        }
    
        .responsive {
            max-width: 100%;
            height: 400px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
        .dugme {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
    
        .dugmeZaPrijavu {
            background: #F9CA87;
            border: 3px solid #F99D1D;
            border-radius: 20px;
            padding: 15px 30px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
    
        }
    
        .dugmeZaPrijavu:hover {
            transition: 0.3s;
            background-color: transparent;
            color: #F99D1D;
        }
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px) {
    .first-page {
            height: 100vh;
        }
    .text {
        font-size: 35px;
        margin-top: 50px;
    }

    .text #learning {
        color: #F9CA87;
    }

    .responsive {
        max-width: 100%;
        height: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .dugme {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dugmeZaPrijavu {
        background: #F9CA87;
        border: 3px solid #F99D1D;
        border-radius: 20px;
        padding: 15px 30px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;

    }

    .dugmeZaPrijavu:hover {
        transition: 0.3s;
        background-color: transparent;
        color: #F99D1D;
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .first-page {
        height: 100vh;
    }

    body {
        position: relative;
    }

    .responsive {
        max-width: 100%;
        height: 460px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .dugme {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dugmeZaPrijavu {
        background: #F9CA87;
        border: 5px solid #F99D1D;
        border-radius: 20px;
        padding: 15px 40px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 35px;
    }

    .dugmeZaPrijavu:hover {
        transition: 0.3s;
        background-color: transparent;
        color: #F99D1D;
    }

    .text {
        font-size: 48px;
        text-align: center;
        margin-top: 40px;
    }

    .text #learning {
        color: #F9CA87;
    }
}

/* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px) {}