.Faq {
  /* background: #f9711d; */
  /* border-radius: 52px; */
  padding:10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* font-family: 'Alegreya Sans'; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* transform: scale(1.3); */
  
}

.svg-question{
  display: flex;
  flex-direction: row;
}


.FaqItem {
  display: flex;
flex-direction: column;
  /* align-items: center; */
  width: 100%;
  justify-content: center;
  height: min-content;
  font-weight: bold;
  font-size: 25px;
  color: #002440;
  z-index: 10;
  position: relative;
}
/* .proba{
  width: 20%;
} */
/*
.FaqItem div {
} */

.Question{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  /* margin-top: 5%; */
  /* height: 100%; */
  /* outline: 2px solid green;   */
}
.baseMaliHex{
  width: 15%;
  /* mozda height */
}
.faqMaliHex{
  width: 100%;
  height: 100%;
  /* border: 2px solid orange; */

}
.slicicaUpitnik{
  width: 10%;
  height: 85%;
  position: absolute;
  z-index: 50;
  /* top:10%;
  left:10%; */
  border: 2px solid rgb(255, 68, 0); 
  
}
.pitanjeContainer{
  width: 80%;
  /* outline: 3px solid red; */

}
.basePitanje{
  width: 100%;
  /* outline: 3px solid red; */
  height: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */

}


.PravaVelicinaTeksta{
  width: 10%;
  height: 100%;
  /* outline: 2px solid red; */
  font-size: 42px;
  word-spacing: -2px;
  letter-spacing: -1px;
}

/* SVE ZA ODGOVOR POCINJE OVDE --------------------------------- */
.Answer{
  width: 100%;
  /* height:100%; */
  /* margin-top: -30px; */
  /* margin-bottom: 40px; */
  /* margin-top: 5%;
  margin-bottom: 5%; */
  display: flex;
  flex-direction: row;
  
  /* border: 2px solid green; */
  
}


.base{
  width: 20%;
  /* border: 2px solid orange; */
  position: relative;
  /* display:  none; */
}
.faqVelikiHex{
  width: 100%;
  height: 95%;
}
.slicicaLogo{
  width: 85%;
  height: 85%;
  position: absolute;
  top:10%;
  left:10%;
}


.base2{
  width: 85%;
  /* border: 2px solid red; */
}


/* svg.base{
  width: 100%;
  height: 100%;
} */
/* .Answer1{
  position: relative;
width: 16%;
margin-top: -30px;
  margin-bottom: 40px;
 
} */
/* .proba{
  position: absolute;
  width: 100%;
  height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);  
} */


.PravaVelicinaTekstaOdgovor{
  width: 100%;
  height: 100%;
  /* outline: 2px solid red; */
  font-size: 0.2rem;
}




/* extra mali mobilni */
@media screen and (max-width: 340px) {
  .FaqItem{
    width: 100%;
  }
  .PravaVelicinaTeksta{
    font-size: 1.8rem;
  }
  .PravaVelicinaTekstaOdgovor{
    font-size: 5px;
  }
}

/* mali tableti */
@media screen and (min-width: 620px) {
  .FaqItem{
    width: 100%;
  }
  .PravaVelicinaTeksta{
    font-size: 1.8rem;
  }
  .PravaVelicinaTekstaOdgovor{
    font-size: 0.7rem;
  }
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px) {
  .FaqItem{
    width: 90%;
  }
  .PravaVelicinaTeksta{
    font-size: 1.8rem;
  }
  .PravaVelicinaTekstaOdgovor{
    font-size: 1rem;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {

  .FaqItem{
    width: 70%;
  }
  .PravaVelicinaTeksta{
    font-size: 1.8rem;
  }
  .PravaVelicinaTekstaOdgovor{
    font-size: 1rem;
  }



}

/* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px) {

  .FaqItem{
    width: 60%;
  }
  .PravaVelicinaTeksta{
    font-size: 1.8rem;
  }
  .PravaVelicinaTekstaOdgovor{
    font-size: 1rem;
  }

}