.Faq {
  /* background: #f9711d; */
  /* border-radius: 52px; */
  padding:10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  /* font-family: 'Alegreya Sans'; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

.svg-question{
  display: flex;
  flex-direction: row;
}


.FaqItem {
  display: flex;

  align-items: center;
  width: 100%;
  justify-content: space-between;
  
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  

  color: #002440;
  z-index: 10;
  position: relative;
}
.proba{
  width: 100%;
}
/*
.FaqItem div {
} */
.Answer{
  width: 100%;
  height:100%;
  margin-top: -30px;
  margin-bottom: 40px;
  
}
svg.base{
  width: 100%;
  height: 100%;
}
.Answer1{
  position: relative;
width: 16%;
margin-top: -30px;
  margin-bottom: 40px;
 
}
.proba{
  position: absolute;
  width: 100%;
  height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);  
}
/*
.Bottom {
  /* border-bottom: 3px solid #ffffff; 
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}*/



/*
@media screen and (min-width: 1445px) and (max-height: 740px) {
  /* .Faq {
    transform: translateX(-50%);
  } 
}*/

@media screen and (max-width: 1445px) {
  
  .Faq {
    width: 70%;
  }

  .FaqItem {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1300px) {  

  .Faq {
    width: 70%;
  }

  .FaqItem {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1060px) {
  
}

@media screen and (max-width: 980px) {
  
}
@media screen and (min-width: 960px){
    
 
  
  .proba{
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  }
}

@media screen and (max-width: 880px) {
  
}

@media screen and (max-width: 820px) {
  
}

@media screen and (max-width: 768px) {
  .Faq {
    width: 80%;
  }


  .FaqItem {
    font-size: 30px;
  }
}

@media screen and (max-width: 720px) {
  .Faq {
    width: 80%;
  }

  
}

@media screen and (max-width: 600px) {
  .Faq {
    width: 80%;
  }

 
}

@media screen and (max-width: 500px) {
  
  .FaqItem {
    font-size: 25px;
    line-height: 30px;
  }

  .Answer {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 450px) {
  .Faq {
    width: 80%;
  }

 
}

@media screen and (max-width: 400px) {
  
}

@media screen and (max-width: 340px) {
  .Robot {
    transform: translateY(-45px) scale(0.6);
  }

  .FaqItem {
    font-size: 22px;
    line-height: 20px;
  }

  .Answer {
    font-size: 18px !important;
  }
}