*{
  /* outline: 1px solid beige; */
  --velImePitanja: 35px;
  --boksShedou: 2.5px 4px 5px rgba(0, 0, 0, 0.55);
}

.Prijava-ceo{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  
}
.PrijavaTop{
display: flex;
flex-direction: row;
justify-content: space-around;
/* justify-content: flex-start; */
width: 100%;
height: 20vh;
margin-bottom: 4vh;
/* border: 2px solid black; */

}
.PrijavaTop-logo{
width: 25%;
height: 100%;
/* border: 2px solid black; */
/* transform: scale(0.8); */
display: flex;
flex-direction: row;
justify-content: center;
cursor: pointer;

}
.PrijavaTop-svg{
  width: 60%;
  /* margin-top: 50px; */
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.UmestoSVG{
  width: 100%;
  height: 40%;
  /* border: 1px solid #3a2302; */
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  /* line-height: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F99E20;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.55);
}
.UmestoSVG h1{
  color: rgba(255, 255, 255, 0.922);
  font-size: 16px;

}

.obavestenje{
  width: 60%;
  /* margin: 0 auto; */
  /* text-align: right; */
  /* margin-bottom: 20px; */
  font-size: 16px;
  letter-spacing: -1px;
  text-align: center;
  /* padding-left: 10%; */
  /* border: 2px solid black; */
  line-height: 24px;
  color: rgba(255, 255, 255, 0.879);
  /* border: 3px solid white; */
  border: 3px solid #f99f20a6;
 background-color: #0f69c4;
  /* padding: 20%; */
  /* padding: 15px; */
  overflow: hidden;
  border-radius: 25px;
  box-shadow: var(--boksShedou);
}
.obavestenje span{
  font-size: 22px;
  /* color:rgb(236, 73, 73); */
  text-decoration: underline;
  color:#f8a736;
  letter-spacing: 0px;

  
}

.FormaPrijava{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.PrvaPolPitanja{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  /* border: 1px solid black; */
  /* ZA TEL, ZA DESKTOP STAVI 40 fazon */
}
.DrugaPolPitanja{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  /* border: 1px solid rgb(121, 33, 33); */
}
.MagicPitanjaPanelistima{
  transition:  all 0.5s;
}



select {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin: 10px;
  /* border: 2px solid orange; */
  /* display: none; */
  background-color: #F99E20;
}
select option{
  /* display: none; */
  width: 50px;
  height: 50px;
  /* color: white; */
  /* background-color: #20d8f9; */
  /* accent-color: green; */
  border-radius: 5px;
  
   /* display: none; */
}
textarea{
  width: 500px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  /* JEEEa */
}
/* .container-checkbox{
width: 50%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  left: 50%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
} */
/* .container-checkbox input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  
} */



label {
  height: 50px;
  width: 400px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 0.5%;
  text-align: center;
}

.pitanjeX{
  width: 100%;
  /* border: 1px solid orange; */
  position: relative;
  margin-bottom: 30px;
}
.pitanjeVeciMarginBottom{
  /* margin-bottom: 45px; */
}
.brojPitanja {
  width: var(--velImePitanja);
  height: var(--velImePitanja);
  background-color: orange;
  text-align: center;
  line-height: var(--velImePitanja);
  vertical-align: middle;
  /* color: white; */
  /* margin: 20px; */
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: var(--boksShedou);
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.822);

}
.error{
  color: orange;
  font-weight: 700;
  margin-top: 6px;
  /* text-decoration: underline; */
  /* text-decoration: underline; */
  /* text-shadow: 1px ; */
}
.imePitanja{
  /* display: none; */
  position: absolute;
  text-align: left;
  /* padding: 5px; */
  margin: 0;
  padding: 0;
  padding-left: 8px;
  line-height: var(--velImePitanja);
  width: 82%;
  height: var(--velImePitanja);
  left: 15%;
  top: 0%;
  /* border-radius: 10px; */
  box-shadow: var(--boksShedou);
  color:rgba(0, 0, 0, 0.75);

}
.imePitanjaDuze{
  height: calc(var(--velImePitanja) *2);
  font-size: 15px;
  /* word-spacing: -1px; */
  line-height: 22px;
}
.imePitanjaSelect{
  height: calc(var(--velImePitanja) *1.3);
  /* height: calc(var(--velImePitanja) *1.); bas ovako pravi da bude tacno visine kao i text ali ovo gore je cleaner */
  
  font-size: 15px;
  line-height: 22px;

  word-spacing: -1px;
}
.imePitanjaCheckBox{
  width: 60%;
}

.unosOdgovora {
  /* display: none; */
  height: calc(var(--velImePitanja)*2);
  font-size: 16px;
  width: 97.4%;
  margin: 0 ;
  margin-top: 11px;
  padding-left: 8px;
  box-shadow: var(--boksShedou);

}
.unosSelekcije{
  height: calc(var(--velImePitanja));
  font-size: 16px;
  width: 82%;
  margin: 0 ;
  margin-left: 15%;
  margin-top: calc(var(--velImePitanja)*0.5);
  padding-left: 8px;
  box-shadow: var(--boksShedou);
  border-radius: 6px;
  background-color: #f8a736;
  /* border: 1.5px solid ; */
}

.unosTextBox{
  height: calc(var(--velImePitanja)*4);
  min-height: calc(var(--velImePitanja)*2);
  max-height: calc(var(--velImePitanja)*10);
  /* padding: 5px; */
  font-size: 18px;
  width: 97.4%;
  resize:vertical;


  margin: 0 ;
  /* margin-top: 11px; */
  margin-top: calc(var(--velImePitanja)*1.25);

  padding-left: 8px;
  box-shadow: var(--boksShedou);
}
.unosCheckBox{
  height: calc(var(--velImePitanja)*4);
  font-size: 20px;
  height: calc(var(--velImePitanja)*2);
   width: 100%;
   accent-color: #f8a736;
  margin: 0px;
  margin-left: 39%;
  /* margin-bottom: 150px; */
}
.checkbox{
  /* background-color: #2bf920; */
  position: absolute;
  width: 100%;
  top: 0;
  /* margin-bottom: 100px; */
}
.dugmeSubmitContainer{
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dugmeSubmit {
  height: 100px;
  /* width: 250px; */
  width: 45%;
  max-width: 300px;
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.922);
  box-shadow: var(--boksShedou);
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
  
}
input {
  height: 100px;
  width: 500px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}


.touched{
  /* display: none; */
}

/* extra mali mobilni */
@media screen and (max-width: 340px) {
}

/* mali tableti */
@media screen and (min-width: 620px) {
  .PrvaPolPitanja{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* ZA TEL, ZA DESKTOP STAVI 40 fazon */
  }
  .DrugaPolPitanja{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    /* border: 1px solid rgb(121, 33, 33); */
  }
  .UmestoSVG{
    height: 50%;
  }
  .UmestoSVG h1{
    font-size: 20px;
  }
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px) {
  
  
  .PrijavaTop{
    height: 22vh;
    margin-bottom: 5vh;
    }
  .UmestoSVG{
    height: 50%;  
  }
  .UmestoSVG h1{
    font-size: 24px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .Prijava-ceo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .PrijavaTop-logo{
    width: 25%;
    height: 110%;
    transform: scale(1.1);
  }

  .PrijavaTop{
    height: 28vh;
    margin-bottom: 6vh;
    }
  .UmestoSVG{
    height: 60%;
  }
  .UmestoSVG h1{
    font-size: 36px;
  }
}

/* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px) {
  .Prijava-ceo{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .PrijavaTop{
    height: 30vh;
    margin-bottom: 7vh;
    }
  .UmestoSVG{
    height: 80%;
  }
  .UmestoSVG h1{
    font-size: 38px;
  }
}
