/* promenjive */

/* fontovi */
/* mobilni je baza */

.ofonisu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 90%; */
    padding-left: 1%;
    padding-right: 1%;

    margin-bottom: 2vh;
}
.about-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    position: relative;
    width: 100%;
        /* outline: 3px solid rgb(191, 255, 0); */

}
.about{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    /* border: 3px solid rgb(191, 255, 0); */
}
.TekstAbout{
    position: absolute;
    /* outline: 1px solid red; */
    width: 54%;
    height: 52%;
    z-index: 20;
}
.PrviTekstAbout{
    top: 1.5%;
    left: 1%;
}
.DrugiTekstAbout{
    top: 46%;
    left: 55.6%;
    width: 43%;

}

.caption1 {
    font-weight: bold;
    color: #e78e11;
    /* font-size: 40px; */
    font-size: 3vw;
    z-index: 221;   
    padding-bottom: 1.2px; 
}
.caption2 {
    font-weight: bold;
    color: #e78e11;
    /* font-size: 40px; */
    font-size: 3vw;
    z-index: 221;   
    padding-bottom: 1.5px; 
    text-align: right;
}
.tekst1 {
    font-weight: 600;
    text-align: left;
    font-size: 2vw;
    padding-left: 2px;
    /* font-size: large; */
    line-height: 2.05vw;
    letter-spacing: -0.215px;
    word-spacing: -.5px;
    z-index: 222;   
    color: black; 

}

.tekst2 {
    font-weight: 600;
    text-align: right;
    font-size: 2vw;
    padding-right: 1.2px;
    /* font-size: large; */
    line-height: 2.13vw;
    letter-spacing: -0.15px;
    word-spacing: -.5px;
    z-index: 222;   
    color: black; 

}



.slika1 {
    clip-path: polygon(0 0, 60% 0, 103% 91%, 0% 91%);
}

/* extra mali mobilni */
@media screen and (max-width: 340px) {
    /* .caption1 {
        font-size: 30px;
    }

    .tekst1 {
        text-align: left;
        font-size: 23.6px;
    }
    .tekst2{
        font-size: 24px;
    }

    .caption2 {
        font-size: 30px;
    } */
}

/* mali tableti */
@media screen and (min-width: 1000px) {

    .about {
        position: relative;
        width: 80%;
    }
        .TekstAbout{
            width: 54%;
            height: 51%;
        }
        .PrviTekstAbout{
            top: 1.5%;
            left: 11%;
            width: 42%;

        }
        .caption1 {
            font-weight: bold;
            /* font-size: 40px; */
            font-size: 2vw;
            padding-bottom: 1.5%; 
        }
        .tekst1 {
            /* font-size: 80%; */
            font-size: 1.22vw;
            padding-left: 0.8px;
            /* font-size: large; */
            line-height: 103%;
            letter-spacing: -0.3px;
            word-spacing: -.5px;
            z-index: 222;   
        }
        .DrugiTekstAbout{
            top: 46%;
            left: 55.5%;
            width: 33%;
        }
        .caption2 {
            font-weight: bold;
            /* font-size: 40px; */
            font-size: 2vw;
            padding-bottom: 1.5%; 
            text-align: right;
        }
        .tekst2 {
           /* font-size: 80%; */
           font-size: 1.22vw;
           padding-left: 0.8px;
           /* font-size: large; */
           line-height: 103%;
           letter-spacing: -0.3px;
           word-spacing: -.5px;
           z-index: 222;   
        }

    /* .caption1 {
        font-size: 35px;
    }

    .tekst1 {
        text-align: left;
    }

    .caption2 {
        font-size: 35px;
    } */
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px) {
    /* .caption1 {
        font-size: 40px;
    }

    .tekst1 {
        text-align: left;
    }

    .caption2 {
        font-size: 40px;
    } */
}

/* desktop */
@media screen and (min-width: 1200px) {
    /* .caption1 {
        font-size: 40px;
    }

    .tekst1 {
        text-align: left;
    }

    .caption2 {
        font-size: 40px;
    } */
}

/* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px) {
    /* .caption1 {
        font-size: 40px;
    }

    .tekst1 {
        text-align: left;
    }

    .caption2 {
        font-size: 40px;
    } */
}