/* promenjive */

/* fontovi */


/* mobilni je baza */

.navbar {
    border: 4px solid black;
    border-radius: 20px;
}

.menu {
    color: #ffffff;
}

.logo {
    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: -10px;
    padding: 0;
}

.nav-link {
    margin-top: 11%;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: 600 !important;
}

.nav-link:hover {
    color: #0C5073 !important;
    background-color: #ffffff;
}

.offcanvas-body,
.offcanvas-header {
    background-color: #0C5073;
}

.offcanvas-header {
    position: relative;
}

.icon {
    position: absolute;
    right: 1%;
    top: 5%;
}
.prijavise {
    color: #F59B21 !important;
}
.prijavise:hover{
    background-color: #F59B21;
}

/* extra mali mobilni */
@media screen and (max-width: 340px) {}

/* mali tableti */
@media screen and (min-width: 620px) {
    
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px) {

    .nav-link {
            margin-top: 0;
            border: none;
            font-size: medium !important;
        }
    
        .menu {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            width: 100%;
        }
    
        .prijavise {
            color: #F59B21 !important;
        }
    
        .logo {
            display: none;
        }
    
        .navbar {
            border: none;
            border-radius: 0;
        }
}

/* desktop */
@media screen and (min-width: 1200px) {

    body {
        font-size: 20px;
    }

    .nav-link {
        margin-top: 0;
        border: none;
        font-size: medium !important;
    }

    .menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }

    .prijavise {
        color: #F59B21 !important;
    }

    .logo {
        display: none;
    }

    .navbar {
        border: none;
        border-radius: 0;
    }

}

/* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px) {

    body {
        font-size: 20px;
    }
        .nav-link {
            margin-top: 0;
            border: none;
            font-size: medium !important;
        }
    
        .menu {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            width: 100%;
        }
    
        .prijavise {
            color: #F59B21 !important;
        }
    
        .logo {
            display: none;
        }
    
        .navbar {
            border: none;
            border-radius: 0;
        }

}