.CeoFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
}
.base {
    width: 100%;
    height: 100%;
    /* transform: scaley(1.2); */
    /* transform: scaleY(1.1); */
    /* border: 4px solid green; */
}


.first{
    position: relative;
    width: 100%;
    margin-right: -2.7%;
}
.first-text{
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    top: 5%;
    left: 7%;
    right:20%;
    bottom: 20%;
    
    
}
.text-kontakt{
    width: 100%;
    height: 50%;
}
.img-first{
    width:50%;
    margin-left: 20%;
}

.second{
    position: relative;
    justify-content: center;
    width: 72%;
    margin-left: -2.7%;
    margin-right: -2.7%;
}
.second-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
}

.third{
    width: 100%;
    margin-left: -2.7%;
    position:relative;
    
}

.grid-proba{
    position: absolute;
    /* background-color: greenyellow; */
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    display: grid;
    grid-template-columns:1.5fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6,1fr);

}

.grid-first{
    grid-column: 2/3 ;
    grid-row: 2/4;
    margin-bottom: 5px;
    margin-right: -5px;
    position: relative;
}
.grid-first-logo{
    position: absolute;
    top:52%;
    left: 51%;
    transform: translate(-50%, -50%);
}
.gl{
    height: 100%;
    width: 100%;
}
.grid-second{
    grid-column: 3/4 ;
    grid-row: 3/5;
    margin-bottom: 5px;
    margin-left: -5px;
    position: relative;
}
.grid-second-logo{
    
    position: absolute;
    top:52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-third{
    grid-column: 2/3 ;
    grid-row: 4/6;
    margin-top:5px;
    margin-right: -5px;
    position: relative;
    
}
.grid-third-logo{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.links{
    color: orange;
}

/* promenjive */
/* fontovi */
/* mobilni je baza */

/* extra mali mobilni */
@media screen and (max-width: 340px){
    .CeoFooter{
        /* width: 108%; */
        /* overflow: hidden;  */
    }
}
@media screen and (min-width: 340px){
    
}
@media screen and (min-width: 480px){
    
}

/* mali tableti */
@media screen and (min-width: 620px){
    
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px){
    
    .CeoFooter{
        /* max-height: 20vh; */
        
    }
    svg.base {
        /* width: 120%; */
        height: 100%;
    }
    .footer-deo{
        width: 30%;
        /* border: 2px solid orange; */
        

    }   
    .second{
        margin-right: 10%;
        margin-left: 10%
    }
    .second-img{
    height: 80%;
    width: 60%;
    /* border: 2px solid red; */
    }
}

/* desktop */
@media screen and (min-width: 1200px){

    .footer-deo{
        width: 24%;
        /* border: 2px solid orange; */
        

    }   
    .second{
        margin-right: 16.2%;
        margin-left: 16.5%
    }
  
  }

  /* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px){

    .footer-deo{
        width: 20%;
        /* border: 2px solid orange; */
        

    }   
    .second{
        margin-right: 20%;
        margin-left: 20%
    }
    /* .CeoFooter{
        height: 24rem;
        display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .second-img{
        position: absolute;
    width: 60%;
    height: 90%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    }
    .first{
        margin-right: -11%;
    }
    .second{
        margin-left: -11%;
    margin-right: -11%;
    }
    .third{
        margin-left: -11%;
    } */
    /* .CeoFooter{
        height: 50rem;
    }
    .second-img{
        position: absolute;
    width: 80%;
    height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    } */
    /* .second-img{
        position: absolute;
    width: 80%;
    height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    } */
  }

 