/* promenjive */

/* fontovi */
@font-face {
  font-family: "jost-bold";
  src: local("Jost-700Bold"), url("./fonts/Jost700Bold.otf"), format("truetype");
}
@font-face {
  font-family: "jost-medium";
  src: local("Jost-500Medium"), url("./fonts/Jost500Medium.otf"),
    format("truetype");
}
/* mobilni je baza */
* {
  /* font-family: Jost-500Medium; */
  /* overflow-x: hidden; */
  --accent-color:  #043f5c;
  --accent-color-lighter:  #12587b;

  --accent-color-prozirna:  #0d6591fb;

}
body{
  background: url("./assets/pozadinaFinal.png")!important;
}


/* extra mali mobilni */
@media screen and (max-width: 340px) {
}

/* mali tableti */
@media screen and (min-width: 500px) {
  /* body {
    --main-color: #0766c5;
  
    background-color: var(--main-color);
    background: url("./assets/pozadina3.png") !important;
  } */
}

/* veliki tableti i mali  */
@media screen and (min-width: 960px) {
}

/* desktop */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/* ultrawide i sve vece od fhd */
@media screen and (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}
